annotated-types==0.8.0
anyio==4.14.2
blinker==1.9.0
certifi==2026.7.22
charset-normalizer==3.4.9
chess==1.11.2
click==8.4.2
colorama==0.4.6
Flask==3.1.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
itsdangerous==2.2.0
jalali_core==1.0.0
jdatetime==6.0.2
Jinja2==3.1.6
lance-namespace==0.7.7
lance-namespace-urllib3-client==0.7.7
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
numpy==2.5.1
pandas==3.0.5
prettytable==3.18.0
pyaes==1.6.1
pyarrow==25.0.0
pyasn1==0.6.4
pydantic==2.13.4
pydantic_core==2.46.4
pygame==2.6.1
Pygments==2.20.0
pylance==7.0.0
pyrefly==1.1.1
python-dateutil==2.9.0.post0
python-telegram-bot @ file:///D:/my%20telegram%20bot/python_telegram_bot-22.8.tar.gz#sha256=f9d3847fcb23ee603477e442800b33bb4adf851a73e0619d2050be879decf1ef
requests==2.34.2
rich==15.0.0
rsa==4.9.1
sc-pylibs==0.0.0.1
six==1.17.0
telegram==0.0.1
Telethon==1.44.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
wcwidth==0.8.2
Werkzeug==3.1.8
